#tweet-container{
    background-color: white;
    border-radius: 10px;
    border: 1px solid gainsboro;
    display: flex;
    align-items: flex-start;
}
#tweet-container img{
    border-radius: 50%;
    object-fit: contain;
    padding-top:10px;
    padding-left: 10px;
}
#tweet-box{
    display: grid;
    grid-template-rows: auto 1fr 25px;
    grid-gap:5px;
    height: 100%;
    width: 100%;
    padding:10px;
}
#tweet-header{
    display: flex;
    flex-wrap: wrap;
}
#user-name{
    font-weight: 800;
    font-size: 16px;
}
#is-verified{
    width:25px;
    height: 25px;
}
#screen-name,
#date{
    color:gray;
    font-size: 14px;
}
#numbers{
    display:flex;
    justify-content: flex-end;   
}
#numbers span{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5px;
    margin-left: 20px;;
}
#favorite-count img,
#retweet-count img{
    height: 25px;
    margin:0;
    padding:0;
}