.mainBg{
  background-color: var(--extra-dark-gray);
  display:flex;
  flex-direction: column;
  height: fit-content;
}
.router{
  display: flex;
  margin-top:10px;
  margin-left:20px;
}
.tabInactive,
.tabActive{
  font-size: var(--tabTag-font-size);
  font-weight: 900;
  border: 1px solid var(--lightest-green);
  border-radius: 10px 10px 0 0;
  padding:8px 32px;
  text-decoration: none;
}
.tabInactive{
  color:var(--lightest-green);
  background-color:var(--dark-gray);
}
.tabActive{
  color:var(--dark-gray);
  background-color: var(--medium-green);
}
link:hover{
  color:var(--lightest-green);
  background-color: var(--extra-dark-gray);
}
link:last-of-type{
  margin-left: 5px;
}